#home-menu-background-mobile {
    z-index: -1;
    position: absolute;
    display: inline;
    width: 100%;
}

#home-menu-background-mobile img {
    width: 100%;
    min-height: 500px;
    height: fit-content;
}

#home-menu-background-text-mobile{
    margin-top: 70%;
    color: white;
    width: 90%;
    margin-left: 5%;
    font-family: poppins;

}

#home-menu-background-text-mobile p{
    font-size: small;
    margin-top: 20px;
    font-family: poppins;
    line-height: 25px;
}

/*** Home desktop ***/
#home-menu-background {
    z-index: -1;
    position: absolute;
    display: inline;
    width: 100%;
}

#home-menu-background img {
    width: 100%;
    min-height: 675px;
    height: fit-content;
}
@media only screen and (min-width: 577px) {
    #home-menu-background-text-mobile{
        margin-top: 245px;
        color: white;
        width: 60%;
        margin-left: 20%;
        font-family: poppins;

    }
}