#home-menu-background-mobile {
    z-index: -1;
    position: absolute;
    display: inline;
    width: 100%;
}

#home-menu-background-mobile img {
    width: 100%;
    min-height: 611px;
    height: fit-content;
}

#home-menu-background-text-mobile{
    margin-top: 70%;
    color: white;
    width: 90%;
    margin-left: 5%;
    font-family: poppins;

}

#home-menu-background-text-mobile p{
    font-size: small;
    margin-top: 20px;
    font-family: poppins;
    line-height: 25px;
}

/*** Home desktop ***/
#home-menu-background {
    z-index: -1;
    position: absolute;
    display: inline;
    width: 100%;
}

#home-menu-background img {
    width: 100%;
    min-height: 675px;
    height: fit-content;
}

.home-menu-background-separator{
    margin-top: calc(100% - 180px);
    display: block;

}
@media only screen and (min-width: 576px) {
    #home-menu-background-text-mobile{
        margin-top: 245px;
        color: white;
        width: 60%;
        margin-left: 20%;
        font-family: poppins;
    }
   .home-menu-background-separator{
        margin-top: calc(45% - 20px);
    }
}

/*** About **/
.about-us{
    margin-top: 30px;
    font-family: poppins;
    width: 90%;
    margin-left: 5%;
}

.about-us-text h6{
    font-size: 12px;
    color: #BCBCBC;
}

.about-us-text h2{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-us-text p{
    font-size: 14px;
}

.about-us-image img{
    width: 100%;
}

@media only screen and (min-width: 540px) {
    .about-us{
        width: 80%;
        margin-left: 10%;
    }
}

/*** Mission ***/
.about-us-mission {
    background-image: url('./about-us_Frame20.png');
    background-repeat:no-repeat;
    background-size:78vw;
    background-position:center;
    margin-top: 20px;
    font-family: poppins;
    height: 82vw;
}

.about-us-mission h1{
    width: 100%;
    margin-top: 60px;
    text-align: left;
    margin-left: 14%;
    font-size: 24px;
}

.about-us-mission p{
    text-align: left;
    margin-left: 16%;
    font-size: 12px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 20px;
}

#about-us-vision {
    background-image: url('./about-us_Frame21.png') !important;
    color: #5E3578;
}

#about-us-values {
    background-image: url('./about-us_Frame22.png') !important;
    color: white;
}

@media only screen and (max-width: 380px) {
    .about-us-mission {
        background-size:contain;
        height: 82vw;
    }
}

@media only screen and (max-width: 380px) {
    .about-us-mission {
        background-size:contain;
        height: 95vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .about-us-mission {
        background-size:70vw;
        height: 74vw;
    }

    .about-us-mission h1{
        margin-top: 100px;
        margin-left: 20%;
        font-size: 26px;
    }

    .about-us-mission p{
        margin-left: 22%;
        font-size: 14px;
        width: 60%;
    }
}

@media only screen and (min-width: 768px)  {
    .about-us-mission {
        background-size:contain;
        height: 40vw;
        background-position: top;
    }

    .about-us-mission h1{
        margin-top: 50px;
        margin-left: 2px;
        font-size: 22px;
    }

    .about-us-mission p{
        margin-left: 20px;
        font-size: 12px;
        width: 83%;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 960px)  {

    .about-us-mission h1{
        margin-top: 50px;
        margin-left: 2px;
        font-size: 24px;
    }

    .about-us-mission p{
        margin-left: 20px;
        font-size: 14px;
        width: 83%;
        margin-top: 10px;
    }
}

/*** Our Team ***/

#our-team{
    background-image: url('./team_bg.png') !important;
    background-size: cover;
    margin-top: 40px;
}

#our-team h5{
    font-size: 12px;
    margin-top: 45px;
}

#our-team h1{
    font-size: larger;
    margin-top: 15px;
}

.team-member img{
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
}

@media only screen and (min-width: 520px) {
    .team-member img{
        width: 60%;
        margin-left: 20%;
    }

}

/*** Support Us ***/

#support-us{
    background-image: url('./support-us.png') !important;
    background-size: contain;
    margin-top: 40px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 338px;
}

#support-us h1{
    font-size: 22px;
    padding-top: 60px;
    padding-left: 10%;
}

#support-us p {
  font-size: 14px;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}