body {
    overflow-x: hidden;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.0) !important;
    color: white;
    z-index: 1000;
}

.navbar-nav {
    width: 70%;
    margin-left: 15%;
}

.nav-link {
    color: white !important;
    font-size: 17px;
    font-weight: 450;
}

#menu-btn {
    font-size: 10px;
    background-color: #FFD600 !important;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
}

#menu-background {
    z-index: -1;
    position: absolute;
    display: inline;
    width: 100%;
}

#menu-background img {
    width: 100%;
}

#hero-image {
    position: relative;
    z-index: -1;
    max-height: 680px;
}

#hero-breaker {
    height: 350px;
}

#hero-text-holder {
    z-index: 1;
    display: block;
    position: relative;
    margin-left: 9.5%;
    max-width: 45%;
    color: white;
    font-family: poppins !important;
}

#hero-text-holder h1 {
    font-size: 45px;
}

#hero-text-holder p {
    width: 80%;
    padding-top: 12px;
    line-height: 25px;
    text-align: left !important;
    font-size: small;
}

#about-title-small {
    font-size: 14px;
    color: #BCBCBC;
}

#about-img-left {
    margin-left: 9em !important;
}

#about-text-2 {
    width: 80% !important;
}

#text-tca-holder {
    text-align: justify !important;
    width: 50%;
    font-size: 24px;
    margin-left: 25%;
    margin-top: 22px;
}


.mission-div.purple {
    background-color: #886C9A;
}

.mission-div.yellow {
    background-color: #FFD600 !important;
    color: black !important;
}

.mission-div.blue {
    background-color: #9750C4 !important;
    color: white !important;
}

.mission-div {
    color: white;
    height: 400px;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
}

.mission-div-title {
    font-weight: bold;
    padding-top: 70px;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 20px;
}

.mission-div-text {
    padding-top: 15px;
    font-size: 14px;
    padding-left: 15px;
    margin-right: 60px;
    text-align: justify;
    line-height: 26px;
}

footer {
    background-color: #F9F9F9;
    border-top: 0px solid transparent !important;
}

footer h5 {
    font-size: 14px;
    font-weight: 700;
}

.btn-primary {
    display: inline-flex; /* Para que se ajuste al contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px 24px;
    gap: 8px;
    background: #ECE2F2 !important;
    border-radius: 200px;
    border: none; /* Elimina el borde */
    color: #6A0DAD;
    font-weight: bold;
    transition: background-color 0.5s ease; /* Transición suave */
}

.btn-primary:hover {
    background-color: #25D366 !important; /* Color morado al pasar el mouse */
    color: #ECE2F2 !important; /* Cambia el color del texto al pasar el mouse */
}


.btn-dark.btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 8px;
    width: 198px;
    height: 46px;
    background: #5E3578;
    border-radius: 15px;
    border: none; /* Elimina el borde */
}


.redes-sociales:hover {
    color: #9C27B0;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.redes-sociales a {
    display: inline-block;
    width: 30px; /* ajusta el tamaño según necesites */
    height: 30px; /* ajusta el tamaño según necesites */
    background-size: cover;
    text-indent: -9999px; /* oculta el texto */
}

.redes-sociales .facebook {
    background: url('https://cdn.jsdelivr.net/npm/simple-icons@3/icons/facebook.svg') no-repeat center center;
    width: 50%;
    margin-left: 25%;
}

.redes-sociales .twitter {
    background: url('https://cdn.jsdelivr.net/npm/simple-icons@3/icons/twitter.svg') no-repeat center center;
    width: 50%;
    margin-left: 25%;
}

.redes-sociales .instagram {
    background: url('https://cdn.jsdelivr.net/npm/simple-icons@3/icons/instagram.svg') no-repeat center center;
    width: 50%;
    margin-left: 25%;
}
.text-left a {
    text-decoration: none;
    color: inherit;
    align-items: left !important;
}

.text-left i {
    font-size: 24px;
    align-items: left !important;
}