body{
    overflow-x: hidden;
}

.bg-dark{
    background-color: #5E3578 !important;
}

#ayudate-a-ser-feliz{
    text-align: left;
    color: white;
    margin-top: -600px;
    /*background-color: rgb(94, 53, 120, 0.7);*/
    height: 120px;
    padding-top: 10px;
    width: 100%;

}
#ayudate-text{
    text-align: left;
    color: ghostwhite;
    /*background-color: rgb(94, 53, 120, 0.7);*/
    width: 100%;

}
#ayudate-hero-text {
    width: 40%;
    margin-left: 5%;
}
#hero-image{
    z-index:-1;
    margin-top: 0px;
    position:relative;
    width: 100%;
    height:700px;

}
#conocenos-btn{
    background-color: rgba(94, 53, 120, 1)
}
#research-holder{
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 53, 120, 0.6) 0%, rgba(94, 53, 120, 0) 100%);
    }
#research-holder-inner{
    background-color: transparent;
    opacity: 1
}

#hero-image-holder{
     background-color: rgb(0, 0, 0, 0.7);
     height:700px;

}
#quienes-title{
  color: black;
  font-size: x-large;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  /*margin-top: 100px;*/
}
.quienes-title{
  color: black;
  font-size: xx-large;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
#id=Titless-inv{
    width: 759px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
#cards-holders{
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 53, 120, 0.6) 0%, rgba(94, 53, 120, 0) 100%);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;


}
.about-us{
    background-color: rgb(94, 53, 120, 0.85);
    color: black;
}

.about-us-inverted{
    background-color: black;
    color: #5E3578 !important;
}

.quienes-title-inverted{
  color: #5E3578;
  font-size: xx-large;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-members{
    border-radius: 200px !important;
    width: 200px !important;
    height: 200px !important;
}

