{% extends "bootstrap5.html" %}
{% load cms_tags menu_tags %}
{% load static %}
{% block bottom_css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}
{% block navbar %}
<nav class="navbar {% block navbar_options %}navbar-expand-lg navbar-dark bg-dark{% endblock %}">
    <div class="container">
        <a class="navbar-brand" href="/">{% block brand %}
            <img src="{% static 'logo-ayudate.webp' %}" alt="logo ayudate"/>
            {% endblock %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% block menubar %}
                    {% show_menu 0 100 0 100 'menu/menu.html' %}
                {% endblock %}
            </ul>
            {% block searchbar %}
                <button class="btn btn-warning d-none d-lg-block d-xl-block d-xxl-block" id="menu-btn">DONA AQUI</button>
            {% endblock %}
            <div id="donate-mobile" class="d-lg-none">
                {% placeholder "texto-menu-mobile" %}
                <button id="donate-mobile-btn" class="btn btn-warning d-lg-none" >CONTRIBUYE CON TU DONACION</button>
            </div>
        </div>
    </div>
</nav>
<div class="d-block d-sm-none">
    <div id="home-menu-background-mobile">
        {% placeholder "imagen-fondo-menu-mobile" %}
    </div>
</div>
<div class="d-none d-sm-block">
    <div id="home-menu-background">
        {% placeholder "imagen-fondo-menu" %}
    </div>
</div>
<div id="home-menu-background-text-mobile" >
    {% placeholder "texto-imagen-fondo-menu-mobile" %}
    <button id="home-menu-background-text-mobile-btn" class="btn btn-purple">CONTACTANOS <i class="fa fa-arrow-right"></i></button>
</div>
{% endblock %}
{% block content %}
    <div class="container-fluid home-menu-background-separator"></div>
    <div class="container-fluid">
        <div class="row about-us">
            <div class="col-12 col-md-6 col-lg-6 about-us-text">
                {% placeholder "about-us-text" %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 about-us-image">
                {% placeholder "about-us-image" %}
            </div>
        </div>
        <div class="row about-us">
            <div class="col-12 col-md-6 col-lg-6 order-md-2 about-us-text">
                 {% placeholder "about-us-work-text" %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 order-md-1 about-us-image">
                {% placeholder "about-us-work-image" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="about-us-mission-vision-values">
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-mission">
                {% placeholder "about-us-mission-text" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-vision">
                {% placeholder "about-us-vision-text" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-values">
                {% placeholder "about-us-values-values" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="our-team">
            {% placeholder "our-team-title" %}
            <div class="col-12 col-md-4 col-lg-4 team-member">
                {% placeholder "team-member-image" %}
                {% placeholder "team-member-name" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 team-member">
               {% placeholder "team-member-image-2" %}
                {% placeholder "team-member-name-2" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 team-member">
                {% placeholder "team-member-image-3" %}
                {% placeholder "team-member-name-3" %}
            </div>
        </div>
    </div>
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-12 col-md-4 col-lg-4">#}
{#                <div id="support-us">#}
{#                    {% placeholder "support-us-text" %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-12 col-md-8 col-lg-8>#}
{#                {% placeholder "support-us-image" %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}

{% block footer %}{% endblock %}