{% extends "bootstrap5.html" %}
{% load cms_tags menu_tags %}
{% load static %}
{% block bottom_css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row about-us">
            <div class="col-12 col-md-6 col-lg-6 about-us-text">
                {% placeholder "about-us-text" %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 about-us-image">
                {% placeholder "about-us-image" %}
            </div>
        </div>
        <div class="row about-us">
            <div class="col-12 col-md-6 col-lg-6 order-md-2 about-us-text">
                 {% placeholder "about-us-work-text" %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 order-md-1 about-us-image">
                {% placeholder "about-us-work-image" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="about-us-mission-vision-values">
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-mission">
                {% placeholder "about-us-mission-text" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-vision">
                {% placeholder "about-us-vision-text" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 about-us-mission" id="about-us-values">
                {% placeholder "about-us-values-values" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="our-team">
            {% placeholder "our-team-title" %}
            <div class="col-12 col-md-4 col-lg-4 team-member">
                {% placeholder "team-member-image" %}
                {% placeholder "team-member-name" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 team-member">
               {% placeholder "team-member-image-2" %}
                {% placeholder "team-member-name-2" %}
            </div>
            <div class="col-12 col-md-4 col-lg-4 team-member">
                {% placeholder "team-member-image-3" %}
                {% placeholder "team-member-name-3" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                 <div class="donate-mobile">
                    {% placeholder "texto-menu-mobile" %}
                    <button class="btn btn-warning donate-mobile-btn" >CONTRIBUYE CON TU DONACION</button>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-8 donate-image">
                {% placeholder "support-us-image" %}
            </div>
        </div>
    </div>
{% endblock content %}

