{% extends "bootstrap5.html" %}
{% load cms_tags menu_tags %}
{% load static %}
{% block bottom_css %}
<link href="{% static 'tac.css' %}" rel="stylesheet">
{% endblock %}
{% block donate-navbar %}{% endblock donate-navbar %}
{% block content %}
<div class="container-fluid">
    <div class="row tac">
        <div class="col-12 tac-text">
            {% placeholder "tac-text" %}
        </div>
        <div class="col-12 tac-image">
            {% placeholder "tac-image" %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row tac-types">
        <div class="col-12 tac-types-title">
            {% placeholder "tac-types-title" %}
        </div>
        <div class="col-12 col-lg-4 tac-types-content">
            {% placeholder "tac-types-uno" %}
        </div>
        <div class="col-12 col-lg-4 tac-types-content tac-types-content-dos">
            {% placeholder "tac-types-dos" %}
        </div>
        <div class="col-12 col-lg-4 tac-types-content tac-types-content-tres">
            {% placeholder "tac-types-tres" %}
        </div>
        <hr>
    </div>
</div>
<div class="container-fluid">
    <div class="row tac-faq">
        {% placeholder "tac-faq-title" %}
    </div>
    <div class="row">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span>¿Cómo saber si <b>padeces de TCA?</b></span>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Identificar si alguien tiene un trastorno de la conducta alimentaria (TCA) puede ser complicado,
                        ya que los síntomas pueden variar ampliamente y las personas a menudo ocultan sus
                        comportamientos.
                        Sin embargo, hay algunas señales y síntomas comunes que pueden indicar la presencia de un TCA.
                        Aquí te dejo algunos aspectos a considerar.

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">Señales y Síntomas Comunes</h3>

                        <h6>1. Cambios en los Hábitos Alimenticios:</h6>
                        <ul>
                            <li>Evitar comidas o grupos de alimentos específicos.</li>
                            <li>Comer en secreto o mostrar comportamientos relacionados con la alimentación que parecen
                                inusuales.
                            </li>
                            <li>Hacer dietas extremas o tener un enfoque obsesivo hacia la comida y la nutrición.</li>
                        </ul>

                        <h6>2. Preocupación por el Peso y la Imagen Corporal:</h6>
                        <ul>
                            <li>Hablar constantemente sobre el peso, la dieta o las calorías.</li>
                            <li>Mostrar insatisfacción con su cuerpo, incluso si tiene un peso saludable. </li>
                            <li>Compararse constantemente con los demás en términos de apariencia.</li>
                        </ul>

                        <h6>3. Comportamientos de Purgado:</h6>
                        <ul>
                            <li>Inducir el vómito, usar laxantes, o hacer ejercicio excesivo tras comer.</li>
                        </ul>

                        <h6>4. Cambios Emocionales:</h6>
                        <ul>
                            <li>Aislarse de amigos y familiares.</li>
                            <li>Oscilar entre la ansiedad, la depresión y la irritabilidad.</li>
                            <li>Experimentar cambios en el estado de ánimo, especialmente relacionados con la comida.</li>
                        </ul>

                         <h6>5. Problemas Físicos:</h6>
                        <ul>
                            <li>Pérdida de peso extrema o rápida.</li>
                            <li>Problemas de salud como deshidratación, problemas digestivos, fatiga o irregularidades menstruales en mujeres.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <span>¿Qué Hacer si Te Preocupa Alguien?</span>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Habla con Ellos: Si sospechas que alguien está lidiando con un TCA, considera hablar con ellos de manera abierta y comprensiva. Escúchales sin juzgar.</li>
                            <li>Sugiere Ayuda Profesional: Anima a la persona a que busque la ayuda de un médico o un profesional de la salud mental especializado en trastornos alimentarios.</li>
                            <li>Informa a Otros: Si es necesario, informa a un familiar o amigo cercano que pueda ayudar a la persona a recibir el apoyo que necesita.
                                <a href="https://wa.me/+584143023722" target="_blank">
                                    <span class="whatsapp-icon" > <i
                                            class="fab fa-whatsapp"></i>
                                    </span> COMUNICATE CON NOSOTROS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                         <span> <b>Consecuencias</b></span>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Los trastornos de la conducta alimentaria (TCA) pueden tener consecuencias graves y pueden ser duraderas, tanto para la salud física como para la salud mental de las personas, por eso entre màs temprano pidan ayuda es mejor.
                        Aquí te presento algunas de las principales consecuencias:

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;"> Consecuencias Físicas</h3>
                        <ol>
                            <li>Desnutrición: La ingesta inadecuada de nutrientes puede llevar a deficiencias nutricionales, afectando el crecimiento y el desarrollo, especialmente en adolescentes y jóvenes.</li>
                            <li>Problemas Cardiovasculares:
                                <ul>
                                    <li>
                                        Ritmo cardiaco irregular (arritmias).
                                    </li>
                                    <li>
                                        Hipotensión (baja presión) o hipertensión (alta presión).
                                    </li>
                                    <li>
                                        HMayor riesgo de enfermedades cardíacas.
                                    </li>
                                </ul>
                            </li>
                            <li>Problemas Digestivos:
                                <ul>
                                    <li>
                                        Estreñimiento, problemas en el esófago o daño en el tracto digestivo debido al vómito.
                                    </li>
                                </ul>
                            </li>
                            <li>Alteraciones Hormonales:
                                <ul>
                                    <li>
                                        Irregularidades menstruales o amenorrea en mujeres.
                                    </li>
                                    <li>
                                        Problemas de fertilidad.
                                    </li>
                                </ul>
                            </li>
                             <li>
                                Huesos Débiles (Osteoporosis): La falta de nutrientes puede llevar a una pérdida de densidad ósea, aumentando el riesgo de fracturas.
                            </li>
                            <li>
                                Problemas Dentales: El vómito frecuente puede causar erosión dental, caries y problemas en las encías.
                            </li>
                            <li>
                                Daño a Órganos: En casos severos, puede haber daño irreversible a órganos como los riñones, el hígado y el corazón.
                            </li>

                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;"> Consecuencias Emocionales y Psicológicas</h3>
                        <ol>
                            <li>Ansiedad y Depresión: Muchas personas con TCA también experimentan altos niveles de ansiedad, depresión y otros trastornos mentales.</li>
                            <li>Baja Autoestima: La insatisfacción con la imagen corporal puede afectar la autoestima y la confianza en sí mismo.</li>
                            <li>Aislamiento Social: Las personas con TCA a menudo se alejan de amigos y familiares, lo que puede resultar en soledad y un aumento de los problemas emocionales.</li>
                            <li>Dificultades en las Relaciones: Las tensiones familiares y de pareja pueden surgir debido a los síntomas y comportamientos asociados con el TCA.</li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">Consecuencias a Largo Plazo</h3>
                        <ol>
                            <li>Mayor Riesgo de Recaída: Sin tratamiento adecuado, las personas pueden experimentar recaídas o desarrollar otros trastornos alimentarios.</li>
                            <li>Problemas de Salud Crónicos: Algunas de las afecciones físicas pueden volverse crónicas, afectando la calidad de vida a largo plazo.</li>
                            <li>Impacto en la Vida Laboral y Académica: Los TCA pueden interferir con las actividades diarias, afectando el rendimiento académico o laboral.</li>
                        </ol>
                        <br>
                        <br>
                        Los TCA son serios y pueden tener efectos devastadores en la vida de quienes los padecen. Si conoces a alguien que esté enfrentando un TCA o si tú mismo estás luchando, es esencial buscar ayuda profesional. La intervención temprana puede marcar una gran diferencia en la recuperación.
                        Si necesitas más información tenemos este manual de las preguntas más frecuentes o tienes preguntas específicas,estamos aquì
                        <a href="https://wa.me/+584143023722" target="_blank">
                            <span class="whatsapp-icon" > <i
                                    class="fab fa-whatsapp"></i>
                            </span> COMUNICATE CON NOSOTROS
                        </a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span> <b>Tratamiento del TCA</b></span>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        El tratamiento de los trastornos de la conducta alimentaria (TCA) suele ser un proceso integral y personalizado, que puede incluir diferentes enfoques.
                        Aquí te explico de manera sencilla las principales modalidades de tratamiento:
                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">1. Terapia Psicológica</h3>
                        <ol>
                            <li>Terapia Cognitivo-Conductual (TCC): Es una de las formas más utilizadas y efectivas. Ayuda a las personas a identificar y cambiar los pensamientos y comportamientos negativos relacionados con la comida y la imagen corporal. </li>
                            <li>
                                Terapia Familiar: Involucra a los miembros de la familia en el tratamiento. Puede ayudar a mejorar la comunicación y el apoyo familiar.
                            </li>
                            <li>
                                Terapias de Grupo: Permiten a las personas conectarse con otros que están pasando por situaciones similares, lo que puede ser muy reconfortante.
                            </li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">2. Apoyo Nutricional</h3>
                        <ol>
                            <li>Asesoramiento Nutricional: Un dietista o nutricionista especializado puede ayudar a establecer un plan de alimentación saludable. Este enfoque es crucial para restaurar hábitos alimentarios normales y asegurar una ingesta adecuada de nutrientes. </li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">3. Tratamiento Médico</h3>
                        <ol>
                            <li>Evaluación Médica: Es importante realizar un chequeo médico completo, ya que algunas personas pueden enfrentar complicaciones graves de salud debido a los TCA. En algunos casos, pueden ser necesarias hospitalizaciones si hay riesgos elevados.</li>
                            <li>Medicamentos: En casos de ansiedad o depresión relacionados con TCA, los médicos pueden recetar antidepresivos u otros medicamentos que pueden ayudar durante la recuperación.</li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">4. Educación y Concienciación</h3>
                        <ol>
                            <li>Información sobre la Enfermedad: Aprender sobre el TCA y sus efectos puede ser esencial para la recuperación. Esto puede incluir la educación tanto para el paciente como para su familia. </li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">5. Grupos de Apoyo</h3>
                        <ol>
                            <li>Grupos de Autoayuda: Participar en grupos de apoyo puede brindar consuelo y comprensión. Estos grupos permiten compartir experiencias y estrategias de afrontamiento.</li>
                        </ol>

                        <h3 style="font-weight: bold;  margin-top: 15px; margin-bottom: 15px;">6. Enfoque Personalizado</h3>
                        <ol>
                            <li>Cada caso es único, por lo que es fundamental que el tratamiento se adapte a las necesidades específicas de la persona. Esto se puede hacer mediante la combinación de las modalidades mencionadas.</li>
                        </ol>
                        <br>
                        <br>
                        El tratamiento de los TCA es un camino hacia la recuperación que puede tardar tiempo y esfuerzo. Es esencial contar con un equipo de profesionales que apoye en este proceso.
                        Si tú o alguien cercano está lidiando con un TCA, buscar ayuda profesional puede ser el primer paso hacia una vida más saludable y equilibrada.
                        Si necesitas más información o tienes preguntas específicas sobre el tratamiento,
                        <a href="https://wa.me/+584143023722" target="_blank">
                            <span class="whatsapp-icon" > <i
                                    class="fab fa-whatsapp"></i>
                            </span> COMUNICATE CON NOSOTROS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

