{% extends "bootstrap5.html" %}
{% load cms_tags menu_tags %}
{% load static %}
{% block bottom_css %}
    <link href="{% static 'tac.css' %}" rel="stylesheet">
{% endblock %}
{% block donate-navbar %}{% endblock donate-navbar %}
{% block content %}
    <div class="container-fluid">
        <div class="row tac">
            <div class="col-12 tac-text">
                {% placeholder "tac-text" %}
            </div>
            <div class="col-12 tac-image">
                {% placeholder "tac-image" %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row tac-types">
            <div class="col-12 tac-types-title">
                {% placeholder "tac-types-title" %}
            </div>
            <div class="col-12 col-lg-4 tac-types-content">
                {% placeholder "tac-types-uno" %}
            </div>
            <div class="col-12 col-lg-4 tac-types-content tac-types-content-dos">
                {% placeholder "tac-types-dos" %}
            </div>
            <div class="col-12 col-lg-4 tac-types-content tac-types-content-tres">
                {% placeholder "tac-types-tres" %}
            </div>
            <hr>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row tac-faq">
            {% placeholder "tac-faq-title" %}
        </div>
    <div class="row">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <span>¿Cómo saber si <b>padeces de TCA?</b></span>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Esta pregunta puedes responderla sencillamente analizando cómo te sientes. Al padecer TCA puedes detectar en ti algunos de estos síntomas:
                <ul>
                    <li>Existe una relación inadecuada con la comida.</li>
                    <li>Sensación de pérdida de control ante la comida, el peso o/y la figura.</li>
                    <li>Miedo intenso a comer y/o engordar.</li>
                    <li>Obsesión con la comida, dietas, peso, figura y/o conductas compensatorias.</li>
                    <li>Malestar psicológico: irritabilidad, tristeza, retraimiento social, ansiedad, cambios de humor, baja autoestima.</li>
                    <li>Episodios de sobreingesta.</li>
                    <li>Conductas compensatorias para evitar ganar peso.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <span>¿Qué <b>comportamientos</b> tiene una persona con TCA?</span>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>Pérdida o aumento de peso de origen desconocido.</li>
                  <li>Ayuno (largos periodos de restricciones alimentarias).</li>
                  <li>Presencia de excusa de manera recurrente para no comer en público.</li>
                  <li>Preocupación excesiva por el peso, la figura, las calorías y el ejercicio físico.</li>
                  <li>Cambio negativo en el estado de ánimo.</li>
                  <li>Intentos frecuentes de controlar la apariencia física y la alimentación.</li>
                  <li>Irritabilidad y discusiones en torno a la comida.</li>
                  <li>Rituales al comer: cortar la comida en pedazos muy pequeños, tomar mucha agua antes, regar la comida por todo el plato.</li>
                  <li>Tendencia al aislamiento.</li>
                  <li>Uso el baño después de la comida.</li>
                  <li>Descontrol al comer.</li>
                  <li>Rechazo total a determinados alimentos que “no son sanos”.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <span><b>Si me identifico o identifico</b> a un ser querido, <b>¿Qué debo hacer?</b> </span>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>1. Hablar con la persona afectada.</li>
                  <li>2. Comunicarle la preocupación en torno a su salud.</li>
                  <li>3. Hablar con un profesional de la salud mental, para que te ayude a acompañarlo.</li>
                  <li>4. Insistirle en asistir a la ayuda de un profesional de la salud mental.</li>
                  <li>5. Ayudarlo a seguir las indicaciones médicas para mejorar.</li>
                  <li>6. Brindarle apoyo y comprensión.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

    </div>
{% endblock content %}

